Label {
    -fx-translate-x: 10 ;
}
.output {
	-fx-font-family: monospace ;
}
#threshold_label {
    padding-left: 1em ;
}
#threshold {
    -fx-pref-width: 300 ;
    -fx-show-tick-marks: true ;
    -fx-major-tick-unit: 32 ;
    -fx-minor-tick-unit: 4 ;
}